.bgimage {
    height:100vh;
    background: url('../images/background.png');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.imageAboutPage {
    width: 100%;
    margin-top: 5px;
}
.skills .skills-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #25b79f;
    text-align: center;
}
.skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  .bar .progress-line span {
    position: absolute;
    background: #25b79f;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .js {
    width: 70%;
  }
  .progress-line .reactjs {
    width: 85%;
  }
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .js::after {
    content: "70%";
  }
  .progress-line .reactjs::after {
    content: "95%";
  }
  .contact {
    background:black;
    position: relative;
    height: 92vh;
  }
  
  .contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contact-content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #25b79f;
    padding-bottom: 0.5rem;
  }
  
  .contact-content .mail {
    color: #f0f0e6;
    padding-bottom: 0.2rem;
    font-size: 1rem;
  }
  
  .contact-content .links {
    color: #25b79f;
    padding: 0.5rem;
    padding-bottom: 1.8rem;
    font-size: 1rem;
  }
  
  .contact-content a {
    text-decoration: none;
    color: #25b79f;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
  }
  
  .contact-content a:hover{
    color: #f0f0e6;
  }
.card {
    border: 3px solid white;
    background-color: black;
    color: white;
    height: 400px;
}
.navbar-brand {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.nav-link {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}